<h1>this is the secret page</h1>

<p>You found me!</p>

<img src="https://s.abcnews.com/images/Lifestyle/puppy-ht-3-er-170907_4x3_992.jpg" > 

<li><a href="/register">Sign in</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>